$custom-primary: (
  50 : #e8e7f0,
  100 : #c6c3d8,
  200 : #a09bbf,
  300 : #7a73a5,
  400 : #5e5591,
  500 : #41377e,
  600 : #3b3176,
  700 : #322a6b,
  800 : #2a2361,
  900 : #1c164e,
  A100 : #968bff,
  A200 : #6858ff,
  A400 : #3a25ff,
  A700 : #230bff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


$custom-accept: (
  50 : #faecf3,
  100 : #f2d0e1,
  200 : #e9b1cd,
  300 : #e091b8,
  400 : #da7aa9,
  500 : #d3629a,
  600 : #ce5a92,
  700 : #c85088,
  800 : #c2467e,
  900 : #b7346c,
  A100 : #ffffff,
  A200 : #ffcde1,
  A400 : #ff9ac3,
  A700 : #ff80b4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
